
*{
  font-family: 'Roboto', sans-serif;
}
.color-second {
  color: #ff6a3d;
}

.color-second-bg {
  background: #ff6a3d;
}
/* header sticky */
.header{
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  z-index: 999;
}
/*Topbar*/ 
.category-image{
  height: 27rem;
  width: 18rem;
}
.parent-pos{
  position: relative;
}

.sale-btn{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(160, 160, 160);
  font-size: 1em;
  padding: 3px 18px;
  border: 3px solid rgb(160, 160, 160);
  cursor: pointer;
  text-align: center;
}
/* new.blade.php */
.product-card{
  height: 33rem;
  width: 16rem;
}


/* admin side menu btn */

.btn1{
  visibility:visible;
}
/* Sidebar */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;

}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -300px;
}
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}



/* Product Page style*/
.admin{width:50%;}
.mobile-product-name{display: none;}
.desktop-product-name{display: block;}
.desktop-all-image{display: block;}
.banner-image{
  width: 10em;
}

.main-image-desktop{display: block;}


.available_size{
  margin: 5px;
  color: lightseagreen;
  height: 27px;
  width: 27px;
  border-style: solid;
  border-width: 2px;
  border-radius: 40%;

}


/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
  background-color: white;
  padding: 10px 12px;
  border: 1px solid #ccc;

}

/* .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
} */

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}


.banner-image{
  width: 60em;
}
/* border-radius */
.br-20{
  border-radius: 20px;
}
.br-10{
  border-radius: 10px;
}




/* sale-image-container */

.sale-image-container{
  padding: 0;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%
}
.sale-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sale-link{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 5em;
  position:absolute;
  bottom:10%;
  font-weight: bold;
  border: 2px solid #ff6a3d;
  transition:ease-in 250ms;
}
.sale-link > span{
  font-size: 1.7em;
  padding: 1em;
}
.sale-link:hover{
  background: #ff6a3d;
  color:#fff;
  text-decoration: none;
}
.sale-text{
  position:absolute;
  top:25%;
  color: #ffa011;
  font-size: 3em;
  font-weight: bold;
}
.sale-image-edit{
  position: absolute;
  top:0;
  right:0;
  margin: 15px;
  background:#ffa011;
}
/* end sale-image-container */

/* men-women-section */

.men-section,.women-section{
  font-size: 16px;
  position:relative;
  width: auto;
  height: 250px;
}

.men-section > img,
.women-section > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-men,.text-women{
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  color: #FFF;
  top:2em;
}
.text-men{
  right:2em;
}
.text-women{
  left:2em;
}
.section-link{
  color: #FFF;
  padding: 0.25em;
  border: 2px solid #ff6a3d;
  transition:ease-in 250ms;
}
.section-link:hover{
  background: #ff6a3d;
  text-decoration: none;
  color: #fff;
}
li{
  padding: 0;
  margin: 0;
}
/* end-men-women-section */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -300px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}

@media (max-width: 480px) {
  /* show it on small screens */
  .mobile-product-name{display: block;}
  .desktop-product-name{display: none;} 
  .banner-image{
    width: 10em;
  }
  .btn1{
    visibility: hidden;
  }
  .preview-image{width:25em;}
  .product-card{
    height: 22rem;
    width: 9rem;
  }
  .admin{width: 100%;}
  .sale-image-container{
    font-size: .5em;
  }
}
